html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  body {
    margin: 0 auto;
    padding: 0;

    section#header {
      max-width: 800px;
      margin: 0 auto;
      padding-top: 8px;
      padding-bottom: 8px;
      h1 {
        margin: 0;
      }
      img#logo {
        padding-left: 8px;
        padding-right: 8px;
        float: left;
      }
    }
    section {
      nav {
        ul#menu {
          margin: 0;
          padding: 8px 0 8px 0;
          background-color: #673AB7;
          font-family: sans-serif;
          li {
            margin-right: 8px;
            display: inline-block;
            color: #ffffff;
            list-style-type: none;
          }
        }
      }
    }
  }
}
