$colorAccent: #03A9F4;
$fontColor: #000000;

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  // Responsive
  * {
    box-sizing: border-box;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  [class*="col-"] {
    float: left;
    padding: 16px;
    // border: 1px solid red;
  }
  .row:after {
    content: "";
    clear: both;
    display: block;
  }
  .center {
    float: none;
    display: block;
    margin: 0 auto;
  }

  @media only screen and (max-width: 768px) {
    /* for mobiles */
    [class*="col-"] {
      width: 100%;
    }
  }

  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }

  body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4a4a4a;

    a.button {
      text-align: center;
      padding: 12px 24px;
      border-radius: 4px;
      color: #fff;
      text-decoration: none;
      &.primary {
        background-color: $colorAccent;
        box-shadow: 0 4px 4px #ccc;
      }
    }

    section#header {
      max-width: 800px;
      margin: 0 auto;
      padding-top: 8px;
      padding-bottom: 8px;
      h1 {
        margin: 0;
        color: #121212;
        font-family: 'Nothing You Could Do', cursive;
      }
      img#logo {
        padding-left: 8px;
        padding-right: 8px;
        float: left;
      }
    }

    nav {
      ul#menu {
        margin: 0;
        padding: 16px 0 16px 0;
        background-color: #673AB7;
        li {
          padding-left: 16px;
          padding-right: 16px;
          display: inline-block;
          list-style-type: none;
        }

        @media only screen and (max-width: 768px) {
          /* for mobiles */
          li {
            width: 100%;
            padding: 8px;
            text-align: center;
          }
        }
        a {
          color: #ffffff;
          text-decoration: none;
          font-weight: 300;
        }
      }
    }

    section#content {
      section {
        div#content {
          // max-width: 800px;
          // margin-left: auto;
          // margin-right: auto;
          // padding: 16px;
        }
        h1 {
          margin-top: 0.83em;
          margin-bottom: 0.83em;
          text-align: center;
        }
      }

      section#pets {
        .pet-cell {
          text-align: center;
          h1 {
            font-size: 1em;
          }
          a {
            text-decoration: none;
            color: $fontColor;
          }
        }
        .button {
          margin: 8px auto;
        }
      }

      section#social {
        background-color: #E6E0F1;
        p {
        }
        ul {
          text-align: center;
          li {
            display: inline-block;
            list-style: none;
            padding-right: 32px;
          }
        }
      }
      section#donate {
        display: block;
        div#content {
          div {
            text-align: center;
            &.first {
              border-right: 1px solid #ccc;
            }
            @media only screen and (max-width: 768px) {
              .first {
                border: none;
              }
            }
            p {
              text-align: left;
              padding: 0 3em;
            }
            a {
              display: inline-block;
              margin: 16px auto;
            }
          }
        }
      }

      section#join {
        background-color: #f7f7f7;
        div#content {
          text-align: center;
          p {
            text-align: left;
          }
        }
      }
    }

    section#footer {
      background-color: #727272;
      text-align: center;
      padding: 16px;
      p {
        color: #cecece;
        font-size: .8em;
        padding: 36px;
        margin: 0;
      }
    }
  }
}
