<head>
  <!-- Ideally you should minify + gzip and host this yourself like a boss -->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#673AB7">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="@@basedir/css/screen.css" />

  <title>Animal Heartline | @@title</title>

  <script src="@@basedir/js/jquery-1.12.0.min.js"></script>
  <script src="@@basedir/js/app.js"></script>

</head>
