body {font-family: verdana,arial,helvetica,sans-serif; color: #330000; font-size: 12px; line-height: 17pt;}
td {font-family:  verdana,arial,helvetica,sans-serif; font-size: 12px; line-height: 17pt;}

p {font-family: verdana,arial,helvetica,sans-serif; font-size: 11px;}

b {font-family: verdana,arial,helvetica,sans-serif; font-weight: bold;}
i {font-family: verdana,arial,helvetica,sans-serif; font-style: italic;}
li {font-family: verdana,arial,helvetica,sans-serif;}
ul {font-family: verdana,arial,helvetica,sans-serif;}
ol {font-family: verdana,arial,helvetica,sans-serif;}
h1 {font-family: verdana,arial,helvetica,sans-serif; font-size: 21px;}
h2 {font-family: verdana,arial,helvetica,sans-serif; font-size: 19px;}
h3 {font-family: verdana,arial,helvetica,sans-serif; font-size: 18px;}
h4 {font-family: verdana,arial,helvetica,sans-serif; font-size: 16px;}
h5 {font-family: verdana,arial,helvetica,sans-serif; font-size: 15px;}
h6 {font-family: verdana,arial,helvetica,sans-serif; font-size: 14px;}


input {font-family: verdana,arial,helvetica,sans-serif; font-size: 12px;}
select {font-family: verdana,arial,helvetica,sans-serif; font-size: 12px;}
textarea {font-family:  verdana,arial,helvetica,sans-serif; font-size: 12px;}

.smallest {font-family: verdana,arial,helvetica,sans-serif; font-size: 10px;}
.smaller {font-family: verdana,arial,helvetica,sans-serif; font-size: 10px; color: #333333;}
.smwhite {font-family: verdana,arial,helvetica,sans-serif; font-size: 12px; color: #FFFFFF;}
.normal {font-family: verdana,arial,helvetica,sans-serif; font-size: 12px; color: #000000;}
.larger {font-family: verdana,arial,helvetica,sans-serif; font-size: 14px; color: #000000;}
.largest {font-family: verdana,arial,helvetica,sans-serif; font-size: 16px; color: #000000;}


/* SPECIFIC CLASSES PER WEBSITE */

.copyright {font-family: verdana,arial,helvetica,sans-serif; font-size: 11px; line-height: 150%;}
.nm {line-height: 145%;}


a {font-family: verdana,arial,helvetica,sans-serif; text-decoration: underline; color: #0066CC;}
a:link {color: #0066CC;}
a:active {color: #0066CC;}
a:visited {color: #0066CC;}
a:hover {color: #0066CC; text-decoration: none;}

a.white {font-family: verdana,arial,helvetica,sans-serif; text-decoration: underline; color: #FFFFFF;}
a.white:link {color: #FFFFFF;}
a.white:active {color: #FFFFFF;}
a.white:visited {color: #FFFFFF;}
a.white:hover {color: #FFFFFF; text-decoration: none;}


a.links {font-family: verdana,arial,helvetica,sans-serif; text-decoration: underline; color: #CC6600; font-size: 13px;}
a.links:link {color: #CC6600; font-size: 13px;}
a.links:active {color: #CC6600; font-size: 13px;}
a.links:visited {color: #CC6600; font-size: 13px;}
a.links:hover {color: #CC6600; text-decoration: none; font-size: 13px;}

a.links11 {font-family: verdana,arial,helvetica,sans-serif; text-decoration: underline; color: #CC6600; font-size: 11px;}
a.links11:link {color: #CC6600; font-size: 11px;}
a.links11:active {color: #CC6600; font-size: 11px;}
a.links11:visited {color: #CC6600; font-size: 11px;}
a.links11:hover {color: #CC6600; text-decoration: none; font-size: 11px;}

a.featuredpet {font-family: verdana,arial,helvetica,sans-serif; text-decoration: underline; color: #FFFFFF; font-size: 11px; letter-spacing: 1px}
a.featuredpet:link {color: #FFFFFF;}
a.featuredpet:active {color: #FFFFFF;}
a.featuredpet:visited {color: #FFFFFF;}
a.featuredpet:hover {color: #FFFFFF; text-decoration: none;}

.musictitle {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF0000}
.smallestred { font-family: arial, helvetica, sans-serif; font-size: 10px; ; color: #FF0000}
.errortext {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF0000}
.smallerred {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000}
.normalred { font-family: arial, helvetica, sans-serif; font-size: 12px; color: #FF0000; }
.latestnewsheadline { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF0000; }
.normalwhite {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: normal}
.large {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold}
.date {font-family: verdana,arial,helvetica,sans-serif; font-size: 11px; color: #666666; }
.gray14 {font-family: verdana,arial,helvetica,sans-serif; font-size: 14px; color: #666666; }
.gray11 {font-family: verdana,arial,helvetica,sans-serif; font-size: 11px; color: #666666; }
.gray10 {font-family: verdana,arial,helvetica,sans-serif; font-size: 10px; color: #999999; }
.black11 {font-family: verdana,arial,helvetica,sans-serif; font-size: 11px; color: #000000; }
.footer {font-family: verdana,arial,helvetica,sans-serif; font-size: 10px;}
.title {font-family: verdana,arial,helvetica,sans-serif; font-size: 17px; color: #993333; letter-spacing: 2px}
.brown {font-family: verdana,arial,helvetica,sans-serif; font-size: 12px; color: #663300; }
.brown12 {font-family: verdana,arial,helvetica,sans-serif; font-size: 12px; color: #663300; line-height: 14pt}
.burgundy13 {font-family: arial,helvetica,sans-serif; font-size: 13px; color: #660000; letter-spacing: 1px}
.burgundy11 {font-family: arial,helvetica,sans-serif; font-size: 11px; color: #660000; letter-spacing: 1px}
.white11 {font-family: verdana,arial,helvetica,sans-serif; font-size: 11px; color: #FFFFFF; }
.featuredpet {font-family: verdana,arial,helvetica,sans-serif; font-size: 12.5px; color: #FFFFFF; letter-spacing: 4px }
.scrolltext {font-size: 12px; color: #663300; font-family: arial,helvetica,sans-serif;}
